{% extends "base.html" %}
{% block content %}
<body>
    <div class="container mt-5 mb-5">
        <h1 class="text-center mb-4 fw-bolder">{{ title }}</h1>
        {% if msg %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            {{ msg }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endif %}
        <form action="{% url 'contact' %}" method="POST" id="contact" role="form" novalidate="novalidate"
            class="mt-4">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" name="name" class="form-control" id="name" placeholder="Enter your name" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" name="email" class="form-control" id="email" placeholder="Enter your email" required>
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Phone Number</label>
                <input type="tel" name="phone" class="form-control" id="phone" placeholder="Enter your phone number" required>
            </div>
            <div class="mb-3">
                <label for="message" class="form-label">Message</label>
                <textarea name="message" class="form-control" id="message" rows="5" placeholder="Your message here..." required></textarea>
            </div>
            <button type="submit" class="btn btn-success" style="border-radius: 10px;">Submit</button>
        </form>
    </div>

    
</body>
{% endblock %}
